
.wte-button {
	background-color: 		$primary-color;
	box-shadow: 			none;
	color: 					#ffffff;
	cursor: 				pointer;
	padding: 				5px 25px;
	@include 				font-size(15);
	border: 				none;
	width: 					auto;
	font-weight: 			normal;
	text-transform: 		uppercase;
	border-radius: 			3px;
	box-shadow: 			inset 0 -3px 0 rgba(0,0,0,0.2);
	text-shadow: 			0 1px 1px rgba(0,0,0,0.6);
	line-height: 			32px;
}

.wte-button:hover {
	color: 					#ffffff;
	box-shadow: 			inset 0 2px 3px rgba(0,0,0,0.2);
}

.wte-button,
a.wte-button {
	display: 				inline-block;
	text-decoration: 		none;
	width: 					auto;
	color: 					#ffffff !important;
}

.wte-button:hover {
	color: 					#ffffff !important;
}

.wte-button {
	&.small {
		padding: 			0 15px;
		@include 			font-size(12);
	}
	&.large {
		padding: 			8px 30px;
	}
	&.extra-large {
		padding: 			15px 40px;
		@include 			font-size(17);
	}
	&.red {
		background-color: 	$red;
	}
	&.blue {
		background-color: 	$blue;
	}
	&.green {
		background-color: 	$green;
	}
	&.gold {
		background-color: 	$gold;
	}
	&.gray {
		background-color: 	$gray;
	}
	&.black {
		background-color: 	#000000;
	}
	&.outline {
		background-color: 	transparent;
		box-shadow: 		none;
		color: 				$primary-color !important;
		border: 			2px solid $primary-color;
		text-shadow: 		none;
	}
	&.outline.red {
		color: 				$red !important;
		border-color: 		$red;
	}
	&.outline.blue {
		color: 				$blue !important;
		border-color: 		$blue;
	}
	&.outline.green {
		color: 				$green !important;
		border-color: 		$green;
	}
	&.outline.black {
		color: 				#000000 !important;
		border-color: 		#000000;
	}
	&.outline.white {
		color: 				#ffffff !important;
		border-color: 		#ffffff;
	}

}
